selenium 
geckodriver-autoinstaller 
requests 
beautifulsoup4 
python-telegram-bot==13.7
selenium
geckodriver_autoinstaller
requests
json
Pygments
csv
telegram.ext
openpyxl
docxtpl
docx2pdf
subprocess
os 
glob
odfpy
hijri_converter
fitz
webcolors
ezodf
shutil
PyMuPDF